@font-face {
    font-family: 'Gayathri';
    src: local('Gayathri'), local('Gayathri'),
    url(../fonts/Space_Mono/Gayathri-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), local('Inter'),
    url(../fonts/Poppins/Inter-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}