footer {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: solid 1px $orangeLight;
    max-width: 1440px;
    margin: 20px auto;
    padding: 20px 20px;
}

.menu-footer nav {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}
    line-height: 0; 
    padding: 0;
    }
  

.copy p {
  font-size: 1.2rem !important; 
  margin-left: 10px;
}

#menu-pied-de-page {
  a {
    font-size: 1.2rem;
    }
  padding: 0;
  a:hover{
    color: $orange;
  }
}