
body {
    color: $blackLight;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    @media (max-width: $mobile-breakpoint) {
        margin: 10px 10px;
    }
    @media (max-width: $tablette-breakpoint){
        margin: 20px 20px;
    }
}

h1 {
    font-family: 'Comfortaa';
    font-size: 2rem;
    font-weight: 600;
    color: $blackLight;
    text-align: center;
    @media (max-width: $mobile-breakpoint) {
        font-size: 1rem;
    }
    @media (max-width: $tablette-breakpoint){
        font-size: 1.5rem;
    }
}


h2 {
    font-family: 'Comfortaa';
    font-size: 1.7rem;
    font-weight: 400;
    color: $blackLight;
    text-align: center;
    @media (max-width: $mobile-breakpoint) {
        font-size: 1.1rem;
    }
    @media (max-width: $tablette-breakpoint){
        font-size: 1.2rem;
    }
}

h3 {
    font-family: 'Comfortaa';
    font-size: 1.8rem;
    font-weight: 600;
    color: $blackLight;
    margin: 1rem 1rem 1rem 2rem;
    text-transform: uppercase;
    @media (max-width: $mobile-breakpoint) {
        font-size: 1.1rem;
        margin : 1rem 0 1rem 0; 
    }
}

h4 {
    font-family: 'Inter';
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: $blackLight;
    @media (max-width: $mobile-breakpoint) {
        font-size: 1.1rem;
    }
}

h5 {
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 400;
    color: $blackLight;
    text-align: left;
    @media (max-width: $mobile-breakpoint) {
        font-size: 0.7rem;
    }
    @media (max-width: $tablette-breakpoint){
        font-size: 1.1rem;
    }
}

h6 {
    font-family: 'Comfortaa';
    font-size: 1.7rem;
    font-weight: 400;
    color: $blackLight;
    text-align: center;
    @media (max-width: $mobile-breakpoint) {
        font-size: 0.7rem;
    }
}

.titre-page {
    position: relative;
    &:after{
        content: '';
        position: absolute;
        bottom: -5px; 
        left: 50%; /* Début du soulignement au centre du titre */
        width: 0%;
        height: 2px; /* Hauteur du soulignement */
        background-color: $orangeLight;
        transform: translateX(-50%);
        animation: apparitionSoulignement 2s forwards 500ms; 
    }
}

@keyframes apparitionSoulignement {
    0% {
      width: 0; /* Début de l'animation avec une largeur nulle */
    }
    50% {
      width: calc(70% - 40px); /* À mi-chemin de l'animation, largeur du soulignement */
    }
    100% {
      width: calc(70% - 40px); /* Fin de l'animation, maintient la largeur du soulignement */
    }
  }

p {
    font-family: 'Inter';
    font-size: 1.1rem;
    font-weight: 400;
    color: $blackLight;
    line-height: 2rem;
    text-align: justify;
    @media (max-width: $mobile-breakpoint) {
        font-size: 1rem;
    }
}

.prestations, 
.portefolio, 
.a-propos
 {
    margin : 30px 0;
    @media (max-width: $mobile-breakpoint) {
        margin : 10px 0;
    }
}

.point {
    font-family: 'Inter';
    font-size: 3rem;
    font-weight: 600;
    color: $orange;
    @media (max-width: $mobile-breakpoint) {
        font-size: 1.1rem;
    }
}

.vague {
    width: 200px;
}

li { 
    font-family: 'Inter';
    text-decoration: none;
    color: $blackLight;
    list-style-type:none;
    @media (max-width: $mobile-breakpoint) {
        font-size: 3rem;
        line-height: 5rem;
    }
}

a { 
    font-family: 'Inter';
    text-decoration: none;
    color: $blackLight;
    transition: all 0.3s ease;
    &:hover {
    font-weight: 500;
    color: $orange;
}
}

button,  
.button-gut a {
    transition: 0.3s all ease-in-out;
    position: relative;
    background: $green;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-family: 'Inter';
    font-size: 1rem;
    color: white;
    box-shadow: 0 8px 45px 3px rgba(0, 0, 0, 0.13);  
    margin: 40px;
    &:before{
      content: '';
      border-top: 0.2rem solid $green;
      border-bottom: 0.2rem solid $green;
      position: absolute;
      background: transparent;
      top: 0;
      bottom: 0;
      transition: .3s all ease-in-out;
    }
    &:hover{
      letter-spacing: 0.1rem;
      background-color: transparent;
      color: $green;
    }
      
    &:hover:before{
      left: 25%;
      right: 25%;
    }
}    

//banniere cookie
.cmplz-cookiebanner {
    font-family: 'Inter';
}
.cmplz-btn {
    &:hover {
        letter-spacing: 0;
    }
    &:before{
        content: '';
        border: 0;
}
}

//flèche scroll 
#arrow {
    position: fixed;
    bottom: 11%;
    right: 3%;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    transition: color 0.4s ease ;
    &:hover {
      color: $greenLight;
    }
  }
