@import 'variables';
@import 'fonts';
@import 'header';
@import 'front-page';

body {
    color: $blackLight;
    margin: 20px 20px;

    @media (max-width: $mobile-breakpoint) {
        margin: 10px 10px;
    }

    @media (max-width: $tablette-breakpoint){
        margin: 20px 20px;
    }
}

h1 {
    font-family: 'Comfortaa';
    font-size: 2rem;
    font-weight: 600;
    color: $blackLight;
    text-align: center;
    @media (max-width: $mobile-breakpoint) {
        font-size: 1rem;
    }
}

h2 {
    font-family: 'Comfortaa';
    font-size: 2rem;
    font-weight: 600;
    color: $blackLight;
    @media (max-width: $mobile-breakpoint) {
        font-size: 2.8rem;
    }
}

h3 {
    font-family: 'Comfortaa';
    font-size: 1.7rem;
    font-weight: 400;
    color: $blackLight;
    text-align: center;
    @media (max-width: $mobile-breakpoint) {
        font-size: 0.7rem;
    }
}

h4 {
    font-family: 'Comfortaa';
    font-size: 2rem;
    font-weight: 600;
    color: $blackLight;
    @media (max-width: $mobile-breakpoint) {
        font-size: 1.1rem;
    }
}

p {
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 300;
    color: $blackLight;
}

.point {
    font-family: 'Inter';
    font-size: 2rem;
    font-weight: 600;
    color: $blackLight;
    @media (max-width: $mobile-breakpoint) {
        font-size: 1.1rem;
    }
}

a, li { 
    font-family: 'Inter';
    text-decoration: none;
    color: $blackLight;
    list-style-type:none;
}

a:hover {
    font-weight: 600;
    color: $green;
}

button {
    transition: 0.3s all ease-in-out;
    position: relative;
    background: $orangeLight;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-family: 'Inter';
    font-size: 1rem;
      
    &:before{
      border-top: 0.2rem solid $orangeLight;
      border-bottom: 0.2rem solid $orangeLight;
      display: block;
      position: absolute;
      background: transparent;
      content: '';
      top: 0;
      bottom: 0;
      transition: .48s all ease-in-out;
    }
    &:hover{
      letter-spacing: 0.1rem;
      background-color: transparent;
    }
      
    &:hover:before{
      left: 25%;
      right: 25%;
    }
}    