@charset "UTF-8";
@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"), local("Comfortaa"), url(../fonts/Comfortaa/Comfortaa-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter"), url(../fonts/Inter/Inter-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 100%;
  margin-bottom: 20px;
}

nav {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 180px;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-menu-principal {
  padding: 0;
}
#menu-menu-principal a:hover {
  color: #e9c46A;
}

#menu-toggle {
  visibility: hidden;
  position: fixed;
  width: 350px;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: #e76f51;
  text-transform: uppercase;
  z-index: 50;
}

#nav-buger {
  width: 45px;
  height: 31px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

#nav-buger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #171717;
  border-radius: 35px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-buger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-buger span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-buger span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-buger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-buger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-buger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 30px;
  left: 8px;
}

@keyframes fadeMenu {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  50% {
    opacity: 0.7;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#nav-buger.open + #menu-toggle {
  opacity: 1;
  visibility: visible;
  animation: fadeMenu 0.3s ease-out;
}

footer {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-top: solid 1px #f4a261;
}

.menu-footer nav {
  line-height: 0;
  padding: 0;
}
.menu-footer nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.copy p {
  font-size: 1.2rem !important;
  margin-left: 10px;
}

#menu-pied-de-page {
  padding: 0;
}
#menu-pied-de-page a {
  font-size: 1.2rem;
}
#menu-pied-de-page a:hover {
  color: #e76f51;
}

.hero {
  position: relative;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/hero-photo.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 10px;
}
.hero__bg::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  z-index: 0;
}

.hero__title {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.hero__logo {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.hero__logo img {
  width: 90%;
}
@media (max-width: 1024px) {
  .hero__logo img {
    width: 120%;
  }
}
@media (max-width: 768px) {
  .hero__logo img {
    width: 175%;
  }
}

.hero__subtitle {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.hero__button {
  position: absolute;
  top: 70%; /* Ajustez la position verticale du bouton */
  left: 50%; /* Ajustez la position horizontale du bouton */
  transform: translateX(-50%);
  z-index: 2;
}

#contact {
  margin: 12px;
}

.prestations {
  position: relative;
}

.prestations__carres {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: auto;
}

.i-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7px;
}

.prestations__carre {
  width: 400px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px; /* Ajout d'un espace pour la barre à gauche */
  box-shadow: 0 8px 45px 3px rgba(0, 0, 0, 0.13);
}
.prestations__carre i {
  font-size: 2rem;
  color: #2a9d8f;
  transition: color 0.5 ease-in-out;
}
.prestations__carre:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  left: -45px; /* Position de départ de la barre à gauche */
  width: 50px; /* Largeur initiale de la barre */
  height: 100%;
  background: linear-gradient(to top right, #f4a261, #e76f51); /* Dégradé au survol */
  transition: width 0.7s ease; /* Transition de la largeur pour l'effet d'agrandissement */
  z-index: -1;
}
.prestations__carre:hover::before {
  width: 150%; /* Agrandit la barre pour remplir le fond */
}
.prestations__carre:hover i {
  color: #171717;
}

.prestations__button {
  display: flex;
  justify-content: center;
}

.cercle-conteneur-porte {
  position: absolute;
  right: 6px;
}

.portefolio {
  background-color: white;
  position: relative;
}

.portefolio_catalogue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.projet {
  position: relative;
  width: calc(33.3333333333% - 20px);
  padding: 5px;
  box-sizing: border-box; /* Inclure les marges et les paddings dans la largeur */
}
@media (max-width: 768px) {
  .projet {
    width: 100%;
  }
}

.projet_thumbnail {
  width: 100%;
  padding-bottom: 100%; /* Pour maintenir le ratio carré des images */
  position: relative;
}
.projet_thumbnail:before {
  z-index: 1;
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease; /* Transition fluide */
}

.image-projet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 8px 45px 3px rgba(0, 0, 0, 0.13);
}

.projet_details {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100px;
  max-width: 60rem;
  opacity: 0;
  transition: opacity 0.6s ease; /* Ajoute une transition douce */
  color: #264653;
}
.projet_details h5 {
  display: none;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 15px 0;
  line-height: 1.8rem;
}
.projet_details p {
  display: none;
  font-size: 1.2rem;
  margin: 0;
}
.projet_details i {
  display: none;
  font-size: 2rem;
  margin: 15px 0;
  color: #2a9d8f;
}

.projet:hover .projet_details h5,
.projet:hover .projet_details p,
.projet:hover .projet_details i {
  display: block;
}

.projet:hover .projet_details {
  opacity: 1;
}

.projet:hover .projet_thumbnail::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.portefolio__button {
  display: flex;
  justify-content: center;
}

.a-propos {
  position: relative;
}

.a-propos__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.a-propos__texte {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.a-propos__texte p {
  max-width: 80%;
  font-size: 1.2rem;
  text-align: justify;
}

.a-propos__photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-propos__photo img {
  max-width: 50%;
  height: auto;
}

.vallon .vallon-ligne:nth-child(1) {
  border-color: rgb(39, 70, 80);
  clip: rect(0, 124px, 62px, 0);
  height: 100px;
  left: 88px;
  -webkit-transform: rotate(180deg);
  top: 88px;
  width: 100px;
  z-index: 5;
  -webkit-animation: rainbow-in-out 5s 0.1s infinite;
}
.vallon .vallon-ligne:nth-child(1):before {
  border: 3px solid #16282e;
  content: "";
  display: block;
  height: 88px;
  width: 94px;
}

.vallon .vallon-ligne:nth-child(2) {
  border-color: rgb(42, 157, 143);
  clip: rect(0, 148px, 74px, 0);
  height: 124px;
  left: 76px;
  -webkit-transform: rotate(180deg);
  top: 76px;
  width: 124px;
  z-index: 4;
  -webkit-animation: rainbow-in-out 5s 0.2s infinite;
}
.vallon .vallon-ligne:nth-child(2):before {
  border: 3px solid #1f756a;
  content: "";
  display: block;
  height: 112px;
  width: 118px;
}

.vallon .vallon-ligne:nth-child(3) {
  border-color: rgb(39, 70, 80);
  clip: rect(0, 172px, 86px, 0);
  height: 148px;
  left: 64px;
  -webkit-transform: rotate(180deg);
  top: 64px;
  width: 148px;
  z-index: 3;
  -webkit-animation: rainbow-in-out 5s 0.3s infinite;
}
.vallon .vallon-ligne:nth-child(3):before {
  border: 3px solid #16282e;
  content: "";
  display: block;
  height: 136px;
  width: 142px;
}

.vallon .vallon-ligne:nth-child(4) {
  border-color: rgb(42, 157, 143);
  clip: rect(0, 196px, 98px, 0);
  height: 172px;
  left: 52px;
  -webkit-transform: rotate(180deg);
  top: 52px;
  width: 172px;
  z-index: 2;
  -webkit-animation: rainbow-in-out 5s 0.4s infinite;
}
.vallon .vallon-ligne:nth-child(4):before {
  border: 3px solid #1f756a;
  content: "";
  display: block;
  height: 160px;
  width: 166px;
}

.vallon .vallon-ligne:nth-child(5) {
  border-color: rgb(149, 91, 165);
  clip: rect(0, 220px, 110px, 0);
  height: 196px;
  left: 40px;
  -webkit-transform: rotate(180deg);
  top: 40px;
  width: 196px;
  z-index: 1;
  -webkit-animation: rainbow-in-out 5s 0.5s infinite;
}
.vallon .vallon-ligne:nth-child(5):before {
  border: 3px solid #774984;
  content: "";
  display: block;
  height: 184px;
  width: 190px;
}

.vallon {
  height: 110px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 264px;
}
.vallon .vallon-ligne {
  border-width: 12px;
  border-style: solid;
  border-radius: 100%;
  position: absolute;
}
.vallon .vallon-ligne:before {
  border-radius: 100%;
}
.vallon .shadow {
  background: rgba(0, 0, 0, 0.2);
  bottom: -1px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 0;
  -webkit-animation: shadow-in-out 5s infinite;
}
.vallon .shadow + .shadow {
  left: 118px;
  -webkit-animation-delay: 0.5s;
}

@-webkit-keyframes rainbow-in-out {
  0% {
    -webkit-transform: rotate(180deg);
  }
  33% {
    -webkit-transform: rotate(360deg);
  }
  66% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
  }
}
@-webkit-keyframes shadow-in-out {
  0% {
    opacity: 0;
    width: 0;
  }
  33% {
    opacity: 1;
    width: 60px;
  }
  66% {
    opacity: 1;
    width: 60px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
.paragraphe-prestation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 20rem 0 20rem;
}
.paragraphe-prestation h2 {
  color: #e76f51;
  margin-left: 10px;
}
.paragraphe-prestation h3 {
  font-weight: 600;
  text-transform: none;
  font-family: "Inter";
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}
.paragraphe-prestation ul {
  width: 80%;
}
.paragraphe-prestation li {
  text-align: left;
}
.paragraphe-prestation li:before {
  content: "•";
  color: #e76f51;
  padding: 0.2rem;
  line-height: 2rem;
}
.paragraphe-prestation p {
  text-align: justify;
}

.plus-1,
.plus-2,
.plus-3,
.plus-4 {
  font-size: 3rem;
  color: #2a9d8f;
  cursor: pointer;
}

.float-animation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: float 6s ease-in-out infinite;
  transform: translatey(0px);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.paragraphe-plus-1,
.paragraphe-plus-2,
.paragraphe-plus-3,
.paragraphe-plus-4 {
  display: none;
}

.projet-photo__images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-image {
  width: 30%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  padding: 20px 40px;
}

.single-image:hover {
  transform: scale(1.1);
}

.projet-photo__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
}
.projet-photo__content p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2rem;
}

.projet__mission {
  color: #e76f51;
  font-weight: 600;
}

body {
  color: #171717;
  padding: 20px 20px;
  max-width: 120rem;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  body {
    margin: 10px 10px;
  }
}
@media (max-width: 1024px) {
  body {
    margin: 20px 20px;
  }
}

h1 {
  font-family: "Comfortaa";
  font-size: 2rem;
  font-weight: 600;
  color: #171717;
  text-align: center;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-family: "Comfortaa";
  font-size: 1.7rem;
  font-weight: 400;
  color: #171717;
  text-align: center;
}
@media (max-width: 768px) {
  h2 {
    font-size: 0.7rem;
  }
}
@media (max-width: 1024px) {
  h2 {
    font-size: 1.1rem;
  }
}

h3 {
  font-family: "Comfortaa";
  font-size: 1.8rem;
  font-weight: 600;
  color: #171717;
  margin: 1rem 1rem 1rem 2rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h3 {
    font-size: 1.1rem;
  }
}

h4 {
  font-family: "Inter";
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: #171717;
}
@media (max-width: 768px) {
  h4 {
    font-size: 0.5rem;
  }
}

h5 {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  color: #171717;
  text-align: left;
}
@media (max-width: 768px) {
  h5 {
    font-size: 0.7rem;
  }
}
@media (max-width: 1024px) {
  h5 {
    font-size: 1.1rem;
  }
}

h6 {
  font-family: "Comfortaa";
  font-size: 1.7rem;
  font-weight: 400;
  color: #171717;
  text-align: center;
}
@media (max-width: 768px) {
  h6 {
    font-size: 0.7rem;
  }
}

.titre-page {
  position: relative;
}
.titre-page:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%; /* Début du soulignement au centre du titre */
  width: 100%;
  height: 2px; /* Hauteur du soulignement */
  background-color: #f4a261;
  transform: translateX(-50%);
  animation: apparitionSoulignement 2s forwards;
}

@keyframes apparitionSoulignement {
  0% {
    width: 0; /* Début de l'animation avec une largeur nulle */
  }
  50% {
    width: calc(70% - 40px); /* À mi-chemin de l'animation, largeur du soulignement */
  }
  100% {
    width: calc(70% - 40px); /* Fin de l'animation, maintient la largeur du soulignement */
  }
}
p {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  color: #171717;
  line-height: 2rem;
}

.prestations,
.portefolio,
.a-propos {
  margin: 30px 0;
}

.point {
  font-family: "Inter";
  font-size: 3rem;
  font-weight: 600;
  color: #e76f51;
}
@media (max-width: 768px) {
  .point {
    font-size: 1.1rem;
  }
}

.cercle {
  width: 400px;
}

.vague {
  width: 200px;
}

a, li {
  font-family: "Inter";
  text-decoration: none;
  color: #171717;
  list-style-type: none;
}

a:hover {
  font-weight: 600;
  color: #e76f51;
}

button,
.button-gut a {
  transition: 0.3s all ease-in-out;
  position: relative;
  background: #264653;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-family: "Inter";
  font-size: 1rem;
  color: white;
  box-shadow: 0 8px 45px 3px rgba(0, 0, 0, 0.13);
  margin: 40px;
}
button:before,
.button-gut a:before {
  content: "";
  border-top: 0.2rem solid #264653;
  border-bottom: 0.2rem solid #264653;
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
  transition: 0.3s all ease-in-out;
}
button:hover,
.button-gut a:hover {
  letter-spacing: 0.1rem;
  background-color: transparent;
  color: #264653;
}
button:hover:before,
.button-gut a:hover:before {
  left: 25%;
  right: 25%;
}

.surligne {
  font-weight: 600;
  color: #264653;
}

/*# sourceMappingURL=comdaki.css.map */
