@charset "UTF-8";
@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"), local("Comfortaa"), url(../fonts/Comfortaa/Comfortaa-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter"), url(../fonts/Inter/Inter-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  header {
    height: 50px;
  }
}
header img {
  width: 100%;
  margin-bottom: 20px;
}

nav {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 180px;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav a {
  transition: none;
}

#menu-menu-principal {
  padding: 0;
}
#menu-menu-principal a:hover {
  color: #e9c46A;
  font-weight: 600;
}

#menu-toggle {
  visibility: hidden;
  position: fixed;
  width: 350px;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: #e76f51;
  text-transform: uppercase;
  z-index: 50;
}
@media (max-width: 768px) {
  #menu-toggle {
    width: 100%;
  }
}

.header__conteneur {
  position: relative;
}

#nav-buger {
  width: 45px;
  height: 31px;
  position: fixed;
  right: 50px;
  top: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

#nav-buger.open {
  position: fixed;
  right: 50px;
  top: 33px;
}

#nav-buger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #171717;
  border-radius: 35px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-buger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-buger span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-buger span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-buger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-buger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-buger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 30px;
  left: 8px;
}

@keyframes fadeMenu {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  50% {
    opacity: 0.7;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#nav-buger.open + #menu-toggle {
  opacity: 1;
  visibility: visible;
  animation: fadeMenu 0.4s ease-out;
}

footer {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #f4a261;
  max-width: 1440px;
  margin: 20px auto;
  padding: 20px 20px;
}

.menu-footer nav {
  line-height: 0;
  padding: 0;
}
.menu-footer nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.copy p {
  font-size: 1.2rem !important;
  margin-left: 10px;
}

#menu-pied-de-page {
  padding: 0;
}
#menu-pied-de-page a {
  font-size: 1.2rem;
}
#menu-pied-de-page a:hover {
  color: #e76f51;
}

.hero {
  position: relative;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 768px) {
  .hero {
    height: 760px;
  }
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/hero-photo.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 10px;
}
.hero__bg::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  z-index: 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero__logo {
  max-width: 60%;
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s;
  animation: fadeInUp 1s ease-out forwards;
}
.hero__logo img {
  width: 100%;
}
@media (max-width: 768px) {
  .hero__logo {
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .hero__logo {
    max-width: 90%;
  }
}

.hero__title {
  position: relative;
  z-index: 2;
  padding: 0 40px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s;
  animation: fadeInUp 1s ease-out forwards 0.8s;
}

.hero__subtitle {
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s;
  animation: fadeInUp 1s ease-out forwards 1.2s;
}

.hero__button {
  position: relative;
  z-index: 2;
  text-align: center;
}

#contact {
  margin: 12px;
}

.prestations {
  position: relative;
}

.prestations__carres {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .prestations__carres {
    flex-direction: column;
  }
}

.i-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7px;
}
@media (max-width: 768px) {
  .i-horizontal {
    gap: 0;
  }
}

.prestations__carre {
  width: calc((100% - 60px) / 4);
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px; /* Ajout d'un espace pour la barre à gauche */
  box-shadow: 0 8px 45px 3px rgba(0, 0, 0, 0.13);
}
@media (max-width: 1024px) {
  .prestations__carre {
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width: 768px) {
  .prestations__carre {
    width: 70%;
    flex-direction: column;
    height: 150px;
  }
}
.prestations__carre i {
  font-size: 2rem;
  color: #e76f51;
  transition: color 0.5 ease-in-out;
}
@media (max-width: 768px) {
  .prestations__carre i {
    margin: 5px;
    font-size: 1.2rem;
  }
}
.prestations__carre:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  left: -45px; /* Position de départ de la barre à gauche */
  width: 50px; /* Largeur initiale de la barre */
  height: 100%;
  background: linear-gradient(to top right, #f4a261, #e76f51); /* Dégradé au survol */
  transition: width 0.7s ease; /* Transition de la largeur pour l'effet d'agrandissement */
  z-index: -1;
}
.prestations__carre:hover::before {
  width: 150%; /* Agrandit la barre pour remplir le fond */
}
.prestations__carre:hover i {
  color: #171717;
}

.prestations__button {
  display: flex;
  justify-content: center;
}

.portefolio {
  background-color: white;
  position: relative;
}

.portefolio_catalogue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 768px) {
  .portefolio_catalogue {
    flex-direction: column;
  }
}

.projet {
  position: relative;
  width: calc(33.3333333333% - 20px);
  padding: 5px;
  box-sizing: border-box; /* Inclure les marges et les paddings dans la largeur */
}
@media (max-width: 768px) {
  .projet {
    width: 80%;
  }
}

.projet_thumbnail {
  width: 100%;
  padding-bottom: 100%; /* Pour maintenir le ratio carré des images */
  position: relative;
}
.projet_thumbnail:before {
  z-index: 1;
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease; /* Transition fluide */
}

.image-projet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 8px 45px 3px rgba(0, 0, 0, 0.13);
}

.projet_details {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100px;
  max-width: 60rem;
  opacity: 0;
  transition: opacity 0.6s ease; /* Ajoute une transition douce */
  color: #264653;
}
.projet_details h5 {
  display: none;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 15px 0;
  line-height: 1.8rem;
}
.projet_details p {
  display: none;
  font-size: 1.2rem;
  margin: 0;
}
.projet_details i {
  display: none;
  font-size: 2rem;
  margin: 15px 0;
  color: #2a9d8f;
}

.projet:hover .projet_details h5,
.projet:hover .projet_details p,
.projet:hover .projet_details i {
  display: block;
}

.projet:hover .projet_details {
  opacity: 1;
}

.projet:hover .projet_thumbnail::before {
  background-color: rgba(255, 255, 255, 0.9);
}

.portefolio__button {
  display: flex;
  justify-content: center;
}

.a-propos {
  position: relative;
}

.a-propos__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 0 40px;
  grid-template-areas: "titre ." "texte image" "texte image" "bouton .";
}
@media (max-width: 1024px) {
  .a-propos__content {
    grid-template-columns: 1fr;
    grid-template-areas: "titre" "image" "texte" "bouton";
  }
}

.a-propos__titre {
  grid-area: titre;
  font-weight: 600;
  color: #264653;
  text-align: center;
}

.a-propos__texte {
  grid-area: texte;
}
.a-propos__texte p {
  max-width: 80%;
  font-size: 1.2rem;
  text-align: justify;
}
@media (max-width: 768px) {
  .a-propos__texte p {
    font-size: 1rem;
  }
}

.a-propos__photo {
  grid-area: image;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-propos__photo-wrapper {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .a-propos__photo-wrapper {
    width: 37%;
  }
}
@media (max-width: 1024px) {
  .a-propos__photo-wrapper {
    width: 30%;
  }
}

.a-propos__photo-wrapper img {
  width: 100%;
  border-radius: 10px;
}

.a-propos__button {
  grid-area: bouton;
  text-align: center;
}

.vallon .vallon-ligne:nth-child(1) {
  border-color: rgb(39, 70, 80);
  clip: rect(0, 100px, 50px, 0);
  height: 80px;
  left: 70px;
  transform: rotate(180deg);
  top: 70px;
  width: 80px;
  z-index: 5;
  animation: rainbow-in-out 5s 0.1s infinite;
}
.vallon .vallon-ligne:nth-child(1):before {
  border: 2.5px solid #16282e;
  content: "";
  display: block;
  height: 70px;
  width: 75px;
}

.vallon .vallon-ligne:nth-child(2) {
  border-color: rgb(42, 157, 143);
  clip: rect(0, 120px, 60px, 0);
  height: 100px;
  left: 60px;
  transform: rotate(180deg);
  top: 60px;
  width: 100px;
  z-index: 4;
  animation: rainbow-in-out 5s 0.2s infinite;
}
.vallon .vallon-ligne:nth-child(2):before {
  border: 2.5px solid #1f756a;
  content: "";
  display: block;
  height: 90px;
  width: 95px;
}

.vallon .vallon-ligne:nth-child(3) {
  border-color: rgb(39, 70, 80);
  clip: rect(0, 140px, 70px, 0);
  height: 120px;
  left: 50px;
  transform: rotate(180deg);
  top: 50px;
  width: 120px;
  z-index: 3;
  animation: rainbow-in-out 5s 0.3s infinite;
}
.vallon .vallon-ligne:nth-child(3):before {
  border: 2.5px solid #16282e;
  content: "";
  display: block;
  height: 110px;
  width: 115px;
}

.vallon .vallon-ligne:nth-child(4) {
  border-color: rgb(42, 157, 143);
  clip: rect(0, 160px, 80px, 0);
  height: 140px;
  left: 40px;
  transform: rotate(180deg);
  top: 40px;
  width: 140px;
  z-index: 2;
  animation: rainbow-in-out 5s 0.4s infinite;
}
.vallon .vallon-ligne:nth-child(4):before {
  border: 2.5px solid #1f756a;
  content: "";
  display: block;
  height: 130px;
  width: 135px;
}

.vallon .vallon-ligne:nth-child(5) {
  border-color: rgb(149, 91, 165);
  clip: rect(0, 180px, 90px, 0);
  height: 160px;
  left: 30px;
  transform: rotate(180deg);
  top: 30px;
  width: 160px;
  z-index: 1;
  animation: rainbow-in-out 5s 0.5s infinite;
}
.vallon .vallon-ligne:nth-child(5):before {
  border: 2.5px solid #774984;
  content: "";
  display: block;
  height: 150px;
  width: 155px;
}

.vallon {
  height: 90px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 3%;
  width: 216px;
}
.vallon .vallon-ligne {
  border-width: 10px;
  border-style: solid;
  border-radius: 100%;
  position: absolute;
}
.vallon .vallon-ligne:before {
  border-radius: 100%;
}
.vallon .shadow {
  background: rgba(0, 0, 0, 0.2);
  bottom: -1px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 0;
  animation: shadow-in-out 5s infinite;
}
.vallon .shadow + .shadow {
  left: 118px;
  animation-delay: 0.5s;
}

@keyframes rainbow-in-out {
  0% {
    -webkit-transform: rotate(180deg);
  }
  33% {
    -webkit-transform: rotate(360deg);
  }
  66% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
  }
}
@keyframes shadow-in-out {
  0% {
    opacity: 0;
    width: 0;
  }
  33% {
    opacity: 1;
    width: 50px;
  }
  66% {
    opacity: 1;
    width: 50px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
.paragraphe-prestation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.paragraphe-prestation h2 {
  color: #e76f51;
  margin-left: 10px;
}
.paragraphe-prestation h3 {
  font-weight: 600;
  text-transform: none;
  font-family: "Inter";
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}
@media (max-width: 768px) {
  .paragraphe-prestation h3 {
    font-size: 1.1rem;
  }
}
.paragraphe-prestation ul {
  width: 80%;
}
.paragraphe-prestation li {
  text-align: left;
  font-size: 1.1rem;
  line-height: 2rem;
}
@media (max-width: 768px) {
  .paragraphe-prestation li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.paragraphe-prestation li:before {
  content: "•";
  color: #e76f51;
  padding: 0.2rem;
  line-height: 2rem;
}
.paragraphe-prestation p {
  text-align: justify;
}

.plus-1,
.plus-2,
.plus-3,
.plus-4 {
  font-size: 3rem;
  color: #2a9d8f;
  cursor: pointer;
  margin-left: 50px;
}

.float-animation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  animation: float 6s ease-in-out infinite;
  transform: translatey(0px);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.paragraphe-plus-1,
.paragraphe-plus-2,
.paragraphe-plus-3,
.paragraphe-plus-4 {
  display: none;
}

hr {
  height: 1px;
  background: linear-gradient(to top right, #2a9d8f, white);
  border: none;
  width: 70%;
  margin: 0;
}

.cercle {
  position: sticky;
  top: 20px;
  float: right;
  margin-right: 20px;
  width: 25%;
  z-index: -1;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .cercle {
    position: absolute;
    top: 150px;
    right: 0;
  }
}

.titre-page-porto {
  position: relative;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.titre-page-porto:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%; /* Début du soulignement au centre du titre */
  width: 100%;
  height: 2px; /* Hauteur du soulignement */
  background-color: #2a9d8f;
  transform: translateX(-50%);
  animation: apparitionSoulignement 2s forwards;
}

.projet-photo__images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-image {
  width: 20%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  padding: 20px 40px;
}
.single-image img {
  width: 100%;
}

.single-image:hover {
  transform: scale(1.1);
}

.projet-photo__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
}

.projet-photo__site {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #264653;
  font-size: 1.1rem;
  text-align: center;
  padding: 10px;
  margin: 2px 0 30px 0;
  line-height: 1.2rem;
}
.projet-photo__site:hover {
  font-weight: 900;
  color: #2a9d8f;
}
.projet-photo__site .fa-arrow-right-long {
  color: #2a9d8f;
  margin-right: 5px;
}

.projet__mission {
  color: #264653;
  font-weight: 600;
}

.projet-photo__details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 30px;
  background-color: rgba(42, 157, 143, 0.7);
}

.meta-projet {
  font-weight: 700;
  font-size: 1.1rem;
}
.meta-projet a:hover {
  font-weight: 600;
  color: white;
}

.navigation-projet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 18px auto;
  font-size: 1.1rem;
  width: 50vw;
}
.navigation-projet a {
  transition: transform 0.3s ease-in-out, color 0.2s ease-in-out;
}
.navigation-projet a:hover {
  transform: scale(1.1);
  color: #2a9d8f;
}

.navigation-projet__droite {
  margin-left: auto;
}

#portefolio-archive-projet .projet {
  width: calc(25% - 30px);
}
@media (max-width: 768px) {
  #portefolio-archive-projet .projet {
    width: 80%;
  }
}

.filtres {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.taxonomy-order_item,
.taxonomy-categorie_item {
  width: 200px;
  height: 31px;
  border-radius: 7px;
  background-color: white;
  font-family: "Inter";
  font-weight: 400;
}
@media (max-width: 768px) {
  .taxonomy-order_item,
  .taxonomy-categorie_item {
    width: 130px;
  }
}

.a-propos__image {
  width: 50%;
  padding: 5px;
}
@media (max-width: 1024px) {
  .a-propos__image {
    width: 30%;
  }
}

.wp-block-image img {
  border-radius: 10px;
}

.cercle-a-propos {
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  width: 25%;
}

.a-propos__conteneur-row h2,
.a-propos__conteneur-column h2 {
  color: #e76f51;
  margin: 0px 0 30px 0;
}
@media (max-width: 768px) {
  .a-propos__conteneur-row h2,
  .a-propos__conteneur-column h2 {
    margin: 5px 0 5px 0;
    text-align: left;
  }
}
@media (max-width: 1024px) {
  .a-propos__conteneur-row h2,
  .a-propos__conteneur-column h2 {
    margin: 20px 0 20px 0;
    text-align: left;
  }
}

.a-propos__conteneur-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .a-propos__conteneur-row {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .a-propos__conteneur-row {
    flex-direction: column;
  }
}

.a-propos__conteneur-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .a-propos__conteneur-column {
    width: 100%;
  }
}

.a-propos__conteneur-annee {
  color: #171717;
  font-size: 2rem;
  font-weight: 600;
  background-image: linear-gradient(120deg, #f4a261 0%, #e76f51 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 107%;
  transition: background-size 0.25s ease-in;
  margin-right: 15px !important;
}
.a-propos__conteneur-annee:hover {
  background-size: 100% 107%;
}

@media (max-width: 768px) {
  .a-propos__formation {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .a-propos__formation {
    flex-direction: column;
  }
}

.texte-annee a {
  text-decoration: underline;
}

.dut {
  margin-bottom: 30px !important;
}

.deroule__projet {
  gap: 30px;
}
@media (max-width: 768px) {
  .deroule__projet {
    flex-direction: column;
  }
}

.deroule__projet-carre {
  position: relative;
  width: 25%;
  border: solid 1px #f4a261;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .deroule__projet-carre {
    width: 50%;
  }
}

.deroule__projet-num {
  font-size: 4rem;
  font-weight: 900;
  color: rgba(231, 111, 81, 0.2);
  position: absolute;
  right: 10px;
  top: 15px;
}

.deroule__projet-titre {
  height: auto;
  min-height: 5vh;
  padding: 15px 0 15px 15px;
  font-weight: 600;
  color: #264653;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .deroule__projet-titre {
    padding: 5px 0 5px 15px;
  }
}
@media (max-width: 1024px) {
  .deroule__projet-titre {
    text-align: left;
  }
}

.deroule__projet-texte {
  height: auto;
  min-height: 20vh;
  text-align: left;
  padding: 5px;
}
@media (max-width: 768px) {
  .deroule__projet-texte {
    min-height: 10vh;
  }
}

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(49, 49, 68, 0.5);
  opacity: 0;
  animation: fadeInAnimation 600ms ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popup-contact {
  width: 75vw;
  max-width: 1440px;
  background: white;
  border: solid 3px #171717;
  border-radius: 10px;
  position: relative;
  top: 3%;
  z-index: 100;
  overflow: hidden;
  margin: 2% auto;
}
@media (max-width: 1024px) {
  .popup-contact {
    width: 85vw;
  }
}
@media (max-width: 768px) {
  .popup-contact {
    width: 75vw;
  }
}

.fa-xmark {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 200;
}

.popup-conteneur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .popup-conteneur {
    flex-direction: column;
  }
}

.popup-header {
  flex: 1;
  width: 100%;
  background-color: #264653;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 6%;
}
@media (max-width: 768px) {
  .popup-header {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
.popup-header p {
  color: white;
  font-size: 1.1rem;
  text-align: center;
  padding: 10px;
  margin: 10px;
  line-height: 1.2rem;
  width: 100%;
}
@media (max-width: 768px) {
  .popup-header p {
    font-size: 0.9rem;
    padding: 2px;
    margin: 10px;
    line-height: 0.5rem;
  }
}
@media (max-width: 1024px) {
  .popup-header p {
    padding: 2px;
    margin: 10px;
    width: 90%;
  }
}

.coordonnees {
  color: white;
  font-size: 1.1rem;
  text-align: center;
  padding: 10px;
  margin: 2px;
  line-height: 1.2rem;
}
@media (max-width: 768px) {
  .coordonnees {
    font-size: 0.9rem;
    padding: 2px;
    margin: 2px;
    line-height: 0.5rem;
  }
}
.coordonnees:hover {
  font-weight: 900;
  color: #2a9d8f !important;
}

.popup-formulaire {
  flex: 1;
  width: 100%;
}

.formulaire-wrapper,
.invalid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
@media (max-width: 768px) {
  .formulaire-wrapper,
  .invalid {
    max-width: 90%;
    margin: 0 auto;
  }
}
.formulaire-wrapper input,
.invalid input {
  border: solid 1px #B8BBC2;
  border-radius: 8px;
  height: 30px;
}
.formulaire-wrapper textarea,
.invalid textarea {
  border: solid 1px #B8BBC2;
  border-radius: 8px;
}
.formulaire-wrapper p,
.invalid p {
  line-height: 1.2rem;
}

.bouton-formulaire {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto !important;
  transition: 0.3s all ease-in-out;
  position: relative;
  background: #264653;
  border: none;
  width: 200px;
  height: 50px !important;
  font-family: "Inter";
  font-size: 1rem;
  color: white;
  box-shadow: 0 8px 45px 3px rgba(0, 0, 0, 0.13);
}
@media (max-width: 768px) {
  .bouton-formulaire {
    width: 100px;
  }
}
.bouton-formulaire:hover {
  letter-spacing: 0.1rem;
  background-color: transparent;
  color: #264653;
}

.wpcf7-not-valid-tip {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .wpcf7-not-valid-tip {
    font-size: 0.8rem;
  }
}

.wpcf7-response-output {
  margin: 0 !important;
}

body {
  color: #171717;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  main {
    margin: 10px 10px;
  }
}
@media (max-width: 1024px) {
  main {
    margin: 20px 20px;
  }
}

h1 {
  font-family: "Comfortaa";
  font-size: 2rem;
  font-weight: 600;
  color: #171717;
  text-align: center;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-family: "Comfortaa";
  font-size: 1.7rem;
  font-weight: 400;
  color: #171717;
  text-align: center;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  h2 {
    font-size: 1.2rem;
  }
}

h3 {
  font-family: "Comfortaa";
  font-size: 1.8rem;
  font-weight: 600;
  color: #171717;
  margin: 1rem 1rem 1rem 2rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h3 {
    font-size: 1.1rem;
    margin: 1rem 0 1rem 0;
  }
}

h4 {
  font-family: "Inter";
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: #171717;
}
@media (max-width: 768px) {
  h4 {
    font-size: 1.1rem;
  }
}

h5 {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  color: #171717;
  text-align: left;
}
@media (max-width: 768px) {
  h5 {
    font-size: 0.7rem;
  }
}
@media (max-width: 1024px) {
  h5 {
    font-size: 1.1rem;
  }
}

h6 {
  font-family: "Comfortaa";
  font-size: 1.7rem;
  font-weight: 400;
  color: #171717;
  text-align: center;
}
@media (max-width: 768px) {
  h6 {
    font-size: 0.7rem;
  }
}

.titre-page {
  position: relative;
}
.titre-page:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%; /* Début du soulignement au centre du titre */
  width: 0%;
  height: 2px; /* Hauteur du soulignement */
  background-color: #f4a261;
  transform: translateX(-50%);
  animation: apparitionSoulignement 2s forwards 500ms;
}

@keyframes apparitionSoulignement {
  0% {
    width: 0; /* Début de l'animation avec une largeur nulle */
  }
  50% {
    width: calc(70% - 40px); /* À mi-chemin de l'animation, largeur du soulignement */
  }
  100% {
    width: calc(70% - 40px); /* Fin de l'animation, maintient la largeur du soulignement */
  }
}
p {
  font-family: "Inter";
  font-size: 1.1rem;
  font-weight: 400;
  color: #171717;
  line-height: 2rem;
  text-align: justify;
}
@media (max-width: 768px) {
  p {
    font-size: 1rem;
  }
}

.prestations,
.portefolio,
.a-propos {
  margin: 30px 0;
}
@media (max-width: 768px) {
  .prestations,
  .portefolio,
  .a-propos {
    margin: 10px 0;
  }
}

.point {
  font-family: "Inter";
  font-size: 3rem;
  font-weight: 600;
  color: #e76f51;
}
@media (max-width: 768px) {
  .point {
    font-size: 1.1rem;
  }
}

.vague {
  width: 200px;
}

li {
  font-family: "Inter";
  text-decoration: none;
  color: #171717;
  list-style-type: none;
}
@media (max-width: 768px) {
  li {
    font-size: 3rem;
    line-height: 5rem;
  }
}

a {
  font-family: "Inter";
  text-decoration: none;
  color: #171717;
  transition: all 0.3s ease;
}
a:hover {
  font-weight: 500;
  color: #e76f51;
}

button,
.button-gut a {
  transition: 0.3s all ease-in-out;
  position: relative;
  background: #264653;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-family: "Inter";
  font-size: 1rem;
  color: white;
  box-shadow: 0 8px 45px 3px rgba(0, 0, 0, 0.13);
  margin: 40px;
}
button:before,
.button-gut a:before {
  content: "";
  border-top: 0.2rem solid #264653;
  border-bottom: 0.2rem solid #264653;
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
  transition: 0.3s all ease-in-out;
}
button:hover,
.button-gut a:hover {
  letter-spacing: 0.1rem;
  background-color: transparent;
  color: #264653;
}
button:hover:before,
.button-gut a:hover:before {
  left: 25%;
  right: 25%;
}

.cmplz-cookiebanner {
  font-family: "Inter";
}

.cmplz-btn:hover {
  letter-spacing: 0;
}
.cmplz-btn:before {
  content: "";
  border: 0;
}

#arrow {
  position: fixed;
  bottom: 11%;
  right: 3%;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  transition: color 0.4s ease;
}
#arrow:hover {
  color: #2a9d8f;
}

.taxonomy__carres {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .taxonomy__carres {
    flex-direction: column;
  }
}

.taxonomy__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100% - 60px) / 4);
}
.taxonomy__item h2 {
  font-size: 1rem;
  text-align: center;
}

.taxo-photo__images,
.taxonomy__content p {
  text-align: center;
}

/*# sourceMappingURL=comdaki.css.map */
